[submodule "third-party/assimp"]
	path = third-party/assimp
	url = https://github.com/assimp/assimp.git
[submodule "third-party/glfw"]
	path = third-party/glfw
	url = https://github.com/glfw/glfw.git
